@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add Titan One as the default font for the body and headings */
body,
p {
	font-family: "Roboto Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-family: "Titan One", cursive, sans-serif; /* Use Titan One for headings */
}
/* globals.css */
.btn-secondary {
	@apply border-2 border-secondary text-secondary bg-transparent font-semibold rounded-lg px-4 py-2 hover:bg-secondary hover:text-white transition duration-200;
}

body {
	overflow-x: hidden !important;
}
